BROKER_IMAGE=ghcr.io/nextend/broker-platform-broker:1.0.0
SIDECAR_IMAGE=ghcr.io/nextend/broker-platform-sidecar:1.0.0
APP_SECURITY_JWT_SKEY=change-me
APP_SECURITY_JWT_ISSUER=nextend-broker
BROKER_H3_PORT=7171
BROKER_H3_PATH=/rsocket
BROKER_WEBTRANSPORT_PORT=7443
BROKER_WEBTRANSPORT_PATH=/broker/wt
BROKER_WEBTRANSPORT_ALLOWED_ORIGIN_0=https://localhost
BROKER_SIDECAR_MODE=companion
BROKER_SIDECAR_ADMIN_URL=http://sidecar:9090
SIDECAR_ADMIN_PORT=9090
SIDECAR_CONTRACT_VERSION=1
CERT_PATH=/certs/tls.crt
KEY_PATH=/certs/tls.key